<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
       <style>
       </style>
    </head>
    <body>
        <div class="menu">
            <h2>IT-Knwoledge</h2> 
            <form>
                <input type="search" list="entrys">
                <datalist id="entrys">
                    <option value="GoLang"> 
                    <option value="Python Programmierung"> 
                    <option value="Javascript interfaces"> 
                </datalist> 
            </form>
        </div>
        <div class="mainbody">
            <h1>Artikel</h1>
            <hr>
            <div class="bigentry">
                <a href="/detail">
                    <div class="imagecomp">
                        <img src="/assets/coverimage.jpg" alt="Italian Trulli">
                    </div>
                    <div class="textcomp">
                        <h2>Warum das Programmieren immer wichtiger wird</h2>
                        <p>Mit der Elastic App Search-Erweiterung für Google Cloud Firestore können Entwickler ihre Anwendungen 
                        jetzt mit tollen Sucherlebnissen aufwerten.
                        </p>
                    </div>
                </a>
            </div>
            <div class="bigentry">
                <div class="imagecomp">
                    <img src="/assets/coverimage.jpg" alt="Italian Trulli">
                </div>
                <div class="textcomp">
                    <h2>Warum das Programmieren immer wichtiger wird</h2>
                </div>
            </div>
        </div>
        <div class="footer">
            <a>Impressum</a>
            <a>Datenschutzerklärung</a>
        </div>
    </body>
</html>
